##################################
# Python
##################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

##################################
# Virtual Environments
##################################
venv/
myvenv/
.env/
.env.*
.paddle-langchain/
miniconda.sh

##################################
# Django
##################################
db.sqlite3
staticfiles/
media/
*.log

##################################
# Django uploads (your OCR files)
##################################
uploads/
*.png
*.jpg
*.jpeg
*.pdf

##################################
# PaddleOCR / PaddleX / Models
##################################
.paddlex/
.paddle/
.paddlehub/
.paddleocr/

##################################
# ML / Cache
##################################
.cache/
*.onnx
*.pt
*.pth
*.bin

##################################
# OS / Editor
##################################
.DS_Store
Thumbs.db
.vscode/
.idea/

##################################
# Git
##################################
.git/

